.text {
    display: flex;
    justify-content: center;
  }

.tablix {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Navbar2 {
  width: 70%;
    margin-left: 40%;
    margin-right: 15%;
    margin-top: 2%;
}


